name: Build IndieAuth library

on:
  workflow_dispatch:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  build:
    name: Build IndieAuth library
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: ['8.0', '10.0']
    steps:

    - name: 📄 Checkout
      uses: actions/checkout@v4

    - name: 🛠️ Setup .NET SDKs
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0.x
          10.0.x

    - name: 🛠️ Restore NuGet packages
      run: dotnet restore
      
    - name: 🚀 Build Solution
      run: dotnet build --configuration Release --no-restore
      
    - name: 👟 Run tests on .NET ${{ matrix.dotnet-version }}
      run: dotnet test --configuration Release --no-build --framework net${{ matrix.dotnet-version }}

  package:
    name: Create NuGet Package
    runs-on: ubuntu-latest
    needs: build
    steps:

    - name: 📄 Checkout
      uses: actions/checkout@v4

    - name: 🛠️ Setup .NET SDKs
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0.x
          10.0.x

    - name: 🛠️ Restore NuGet packages
      run: dotnet restore

    - name: 🚀 Build Solution
      run: dotnet build --configuration Release --no-restore
      
    - name: 📦 Pack NuGet package
      run: dotnet pack --configuration Release --no-build

    - name: 💾 Archive package
      uses: actions/upload-artifact@v4
      with:
        name: nuget-package
        path: ${{github.workspace}}/**/AspNet.Security.IndieAuth.*.nupkg

    - name: 💾 Archive symbols package
      uses: actions/upload-artifact@v4
      with:
        name: nuget-symbols-package
        path: ${{github.workspace}}/**/AspNet.Security.IndieAuth.*.snupkg
